$primary-color: #ffee00;
$secondary-color: #333;
$detail-color: #ca2e7f;
$detail-color-light: #e269a6;
$link-color: #5e5e5e;
$top-bar-height: 90px;
$top-bar-bg: #fff;
$top-bar-color: #000;
$brand-logo-height: none;
$brand-logo-width: 17px;
$primary-button-bg: $secondary-color;
$button-color: #000;
$secondary-button-bg: $primary-color;
$main-bg: #f9f9f9;
$main-color: #000;
$main-color-inactive: #cacaca;
$content-bg: #f9f9f9;
$input-bg-color: #fff;
$input-placeholder-color: #cacaca;
html {
  scroll-behavior: smooth;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons {
  vertical-align: middle;
}

i.material-icons {
  padding: 10px;
}

* {
  box-sizing: border-box;
  outline: none;
}

*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: darken($link-color, 10%);
    cursor: pointer;
    text-decoration: underline;
  }
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.9;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Flanders Art Sans", sans-serif;
  margin-bottom: 0px;
  color: #000;
}

body {
  color: $main-color;
  background: $main-bg;
  font-size: 15px;
  line-height: 1.4;
  font-family: "Flanders Art Sans", sans-serif;
  margin: 0;
  background-image: url("../images/vo_background.png");
  background-attachment: fixed;
}

button {
  background: none;
  border: none;
}

.top__bar {
  color: $top-bar-color;
  background: $top-bar-bg;
  height: $top-bar-height;
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #cbd2da;
  position: fixed;
  top: 0;
  z-index: 2;
}

img {
  width: 100%;
}

.brand__logo img {
  height: $brand-logo-height;
  width: $brand-logo-width;
}

.brand__logo {
  width: 50px;
  padding-left: 11px;
  padding-top: 4px;
}

.brand__logo:after {
  content: "";
  display: block;
  position: absolute;
  left: 28px;
  top: -4px;
  height: 52px;
  width: 1px;
  background-image: none !important;
  background-color: #cbd2da;
  transform: rotate(-20deg);
  transform-origin: top left;
}

.header__bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1000px;
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: height 0.5s;
}

.header__question-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: inherit;
  width: 100%;
  height: 600px;
  &::after {
    content: "";
    width: 100%;
    height: 900px;
    background: inherit;
    position: absolute;
    left: -35px;
    right: -35px;
    top: -35px;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    filter: blur(30px);
  }
}

.number {
  font-size: 2em;
  margin-right: 16px;
}

.bold {
  font-weight: bold;
  color: black;
}

.not-big {
  height: fit-content;
  z-index: 2;
  position: fixed;
  top: 45px;
}

.display-none {
  display: none;
  visibility: hidden;
}

.image-small {
  margin: 1em 2em 0 0;
  width: 120px;
}

.input-small {
  display: inline-block;
  height: 75px;
  width: 60%;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 1em;
  font-size: 1.5em;
  padding: 1em;
}

.input-small::placeholder {
  font-size: 1.2em;
  font-weight: 500;
  color: lightgray;
}

// May mess up responsive design
.arrow-box {
  width: 1000px;
  margin: 1em 0;
}

.header__question {
  width: fit-content;
  z-index: 1;
}

.header__item {
  margin: 0 1em;
  display: flex;
  z-index: 1;
}

.header__title {
  font-size: 2em;
  color: white;
  margin: 1em 1em;
  z-index: 1;
}

.header__image {
  width: 216px;
  margin: 0 4em 0 0;
}

.header__labels {
  display: flex;
  flex-wrap: wrap;
}

.header__label {
  font-size: 2em;
  font-weight: 500;
  margin-right: 2em;
}

.header__label--white {
  color: white;
}

.header__input {
  display: inline-block;
  height: 75px;
  width: 50%;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 1em;
  font-size: 1.5em;
  padding: 1em;
  transition: all 0.25s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.header__input::placeholder {
  font-size: 1.2em;
  font-weight: 500;
  color: lightgray;
}

.arrow-left {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 35px solid white;
  vertical-align: middle;
  position: relative;
  bottom: 5px;
  left: 10px;
}

.header__btn {
  position: relative;
  z-index: 1;
  right: 30px;
  bottom: 5px;
  background-color: $detail-color;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 90px;
  width: 90px;
  cursor: pointer;
  transition: 0.25s;
  i {
    font-size: 4em;
    color: #fff;
    padding: 20px;
  }
  &:hover {
    background-color: $detail-color-light;
  }
}

.header__text {
  color: white;
  min-width: 275px;
  max-width: 40%;
  margin: 0 0 0 2em;
  font-size: 1em;
  font-weight: 300;
}

.header__bar--btn {
  min-width: 250px;
  max-width: 350px;
  height: 75px;
  border: 5px solid $detail-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $detail-color;
  font-size: 1.5em;
  font-weight: 500;
  background: rgba(250, 250, 250, 0.5);
  position: relative;
  top: 5em;
  transition: all 0.25s;
  &:hover {
    background-color: $detail-color;
    color: white;
    text-decoration: none;
  }
}

.header__nav--btn {
  position: relative;
  bottom: -150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  background-color: #fff;
  transition: all 0.25s;
  i {
    font-size: 4em;
    color: #000;
    padding: 20px;
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

#container {
  max-width: 2000px;
  margin: 0 auto;
}

.content__count {
}

.content__title {
  margin: 3em 0 0 2em;
}

.content__border {
  height: 20px;
  width: 25%;
  margin: 1em 0 2em 10em;
}

.content__counters {
  display: flex;
  justify-content: space-between;
  margin: 0;
  flex-wrap: wrap;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  min-width: 300px;
  background-color: $content-bg;
  font-size: 1.5em;
  font-weight: 300;
  border: 4px solid $detail-color;
  color: $detail-color-light;
  padding: 1em 4em;
  margin: 1em auto;
  transition: all 0.25s;
  span {
    font-weight: 600;
    font-size: 2em;
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.content__testimonials {
}

.content__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.card {
  margin: 1em;
  padding: 0;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.content__testimonials--card {
  min-width: 250px;
  max-width: 450px;
  min-height: 650px;
  & > img {
    min-width: 250px;
    max-width: 450px;
    height: 250px;
  }
  position: relative;
  margin: 1em auto;
}

.card__title {
  font-weight: 400;
  font-size: 2em;
  margin: 16px 0 0 16px;
}

.card__subtitle {
  font-weight: 400;
  font-size: 1.3em;
  color: lightgray;
  margin: 0 0 0 16px;
}

.card__content {
  font-size: 1.2em;
  padding: 0 16px;
}

.card__question {
  font-weight: 600;
  font-size: 1.4em;
  color: $detail-color-light;
  position: relative;
  padding: 1em;
}

.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 130px;
  padding: 10px;
}

.footer-block {
  font-size: 20px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
  margin: 1em 0;
}

.copyright {
  background: #fff;
  border-top: 1px solid #cacaca;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 40px;
  margin-top: 8em;
}

// Retina Screens
@media screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
}

@media screen and (min-width: 321px) and (-webkit-min-device-pixel-ratio: 2) {
}

@media screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}

@media screen and (min-width: 768px) and (max-width: 1024) and (-webkit-min-device-pixel-ratio: 2) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

@media screen and (min-width: 1224px) and (-webkit-min-device-pixel-ratio: 2) {
  .content__counters {
    margin: 0;
  }

  .card {
    margin: 0;
  }
}

@media screen and (min-width: 1824px) and (-webkit-min-device-pixel-ratio: 2) {
}

// Other screens
@media screen and (min-width: 320px) and (max-width: 480px) {
  .copyright {
    margin-top: 20em;
  }

  .content__testimonials--card {
    margin: 1em 2em;
  }

  .content__counters {
    margin: 1em 2em;
  }

  .header__btn {
    display: flex;
    position: unset;
    border-radius: 0;
    margin-top: 1em;
    width: 100%;
    justify-content: center;
  }

  .header__input {
    width: 100%;
  }

  .header__input::placeholder {
    font-size: 1.1em;
  }

  .arrow-left {
    display: none;
  }

  .header__text {
    margin: 1em 0 0 0;
    min-width: 100%;
  }

  .header__question-bar {
    height: 700px;
  }

  .header__image {
    display: none;
  }

  .content__title {
    margin-top: 7em;
  }

  .content__counters {
    margin: 1em auto;
  }

  .footer-block {
    margin: 1em auto;
  }

  .footer-block:first-child {
    margin-top: 4em;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .copyright {
    margin-top: 20em;
  }

  .content__testimonials--card {
    margin: 1em 2em;
  }

  .content__counters {
    margin: 1em 2em;
  }

  .header__btn {
    display: flex;
    position: unset;
    border-radius: 0;
    margin-top: 1em;
    width: 100%;
    justify-content: center;
  }

  .header__input {
    width: 100%;
  }

  .header__input::placeholder {
    font-size: 1.1em;
  }

  .arrow-left {
    display: none;
  }

  .header__text {
    margin: 1em 0 0 0;
    min-width: 100%;
  }

  .header__question-bar {
    /*height: 700px; */
  }

  .image-small {
    display: none;
  }

  .input-small {
    width: 100%;
  }

  .header__image {
    display: none;
  }

  .content__title {
    margin-top: 7em;
  }

  .content__counters {
    margin: 1em auto;
  }

  .footer-block {
    margin: 1em auto;
  }

  .footer-block:first-child {
    margin-top: 4em;
  }
}

@media screen and (min-width: 321px) {
  .copyright {
    margin-top: 20em;
  }

  .arrow-box {
    width: 90vw;
  }
}

@media screen and (max-width: 320px) {
  .header__input::placeholder {
    font-size: 0.7em;
  }

  .arrow-box {
    width: unset;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .copyright {
    margin-top: 10em;
  }

  .header__input::placeholder {
    font-size: 1em;
  }

  .header__input {
    width: 70%;
  }

  .arrow-box {
    width: unset;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
}

@media screen and (min-width: 1024px) {
  .arrow-box {
    min-width: 1000px;
  }
}

@media screen and (min-width: 1224px) {
}

@media screen and (min-width: 1824px) {
}

/* Mark input boxes that gets an error on validation: */
.input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Mark the steps that are finished and valid: */
.active {
  color: $detail-color;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .header__item {
    margin-left: 40vw;
  }
}
