html {
  scroll-behavior: smooth;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons {
  vertical-align: middle;
}

i.material-icons {
  padding: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #5e5e5e;
  text-decoration: none;
}

a:hover {
  color: #454545;
  cursor: pointer;
  text-decoration: underline;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.9;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Flanders Art Sans", sans-serif;
  margin-bottom: 0px;
  color: #000;
}

body {
  color: #000;
  background: #f9f9f9;
  font-size: 15px;
  line-height: 1.4;
  font-family: "Flanders Art Sans", sans-serif;
  margin: 0;
  background-image: url("../images/vo_background.png");
  background-attachment: fixed;
}

button {
  background: none;
  border: none;
}

.top__bar {
  color: #000;
  background: #fff;
  height: 90px;
  position: relative;
  height: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cbd2da;
  position: fixed;
  top: 0;
  z-index: 2;
}

img {
  width: 100%;
}

.brand__logo img {
  height: none;
  width: 17px;
}

.brand__logo {
  width: 50px;
  padding-left: 11px;
  padding-top: 4px;
}

.brand__logo:after {
  content: "";
  display: block;
  position: absolute;
  left: 28px;
  top: -4px;
  height: 52px;
  width: 1px;
  background-image: none !important;
  background-color: #cbd2da;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.header__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 1000px;
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.header__question-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  background: inherit;
  width: 100%;
  height: 600px;
}

.header__question-bar::after {
  content: "";
  width: 100%;
  height: 900px;
  background: inherit;
  position: absolute;
  left: -35px;
  right: -35px;
  top: -35px;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.number {
  font-size: 2em;
  margin-right: 16px;
}

.bold {
  font-weight: bold;
  color: black;
}

.not-big {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 2;
  position: fixed;
  top: 45px;
}

.display-none {
  display: none;
  visibility: hidden;
}

.image-small {
  margin: 1em 2em 0 0;
  width: 120px;
}

.input-small {
  display: inline-block;
  height: 75px;
  width: 60%;
  border: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 1em;
  font-size: 1.5em;
  padding: 1em;
}

.input-small::-webkit-input-placeholder {
  font-size: 1.2em;
  font-weight: 500;
  color: lightgray;
}

.input-small:-ms-input-placeholder {
  font-size: 1.2em;
  font-weight: 500;
  color: lightgray;
}

.input-small::-ms-input-placeholder {
  font-size: 1.2em;
  font-weight: 500;
  color: lightgray;
}

.input-small::placeholder {
  font-size: 1.2em;
  font-weight: 500;
  color: lightgray;
}

.arrow-box {
  width: 1000px;
  margin: 1em 0;
}

.header__question {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}

.header__item {
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.header__title {
  font-size: 2em;
  color: white;
  margin: 1em 1em;
  z-index: 1;
}

.header__image {
  width: 216px;
  margin: 0 4em 0 0;
}

.header__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__label {
  font-size: 2em;
  font-weight: 500;
  margin-right: 2em;
}

.header__label--white {
  color: white;
}

.header__input {
  display: inline-block;
  height: 75px;
  width: 50%;
  border: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 1em;
  font-size: 1.5em;
  padding: 1em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.header__input:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.header__input::-webkit-input-placeholder {
  font-size: 1.2em;
  font-weight: 500;
  color: lightgray;
}

.header__input:-ms-input-placeholder {
  font-size: 1.2em;
  font-weight: 500;
  color: lightgray;
}

.header__input::-ms-input-placeholder {
  font-size: 1.2em;
  font-weight: 500;
  color: lightgray;
}

.header__input::placeholder {
  font-size: 1.2em;
  font-weight: 500;
  color: lightgray;
}

.arrow-left {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 35px solid white;
  vertical-align: middle;
  position: relative;
  bottom: 5px;
  left: 10px;
}

.header__btn {
  position: relative;
  z-index: 1;
  right: 30px;
  bottom: 5px;
  background-color: #ca2e7f;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 90px;
  width: 90px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header__btn i {
  font-size: 4em;
  color: #fff;
  padding: 20px;
}

.header__btn:hover {
  background-color: #e269a6;
}

.header__text {
  color: white;
  min-width: 275px;
  max-width: 40%;
  margin: 0 0 0 2em;
  font-size: 1em;
  font-weight: 300;
}

.header__bar--btn {
  min-width: 250px;
  max-width: 350px;
  height: 75px;
  border: 5px solid #ca2e7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ca2e7f;
  font-size: 1.5em;
  font-weight: 500;
  background: rgba(250, 250, 250, 0.5);
  position: relative;
  top: 5em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.header__bar--btn:hover {
  background-color: #ca2e7f;
  color: white;
  text-decoration: none;
}

.header__nav--btn {
  position: relative;
  bottom: -150px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  background-color: #fff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.header__nav--btn i {
  font-size: 4em;
  color: #000;
  padding: 20px;
}

.header__nav--btn:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#container {
  max-width: 2000px;
  margin: 0 auto;
}

.content__title {
  margin: 3em 0 0 2em;
}

.content__border {
  height: 20px;
  width: 25%;
  margin: 1em 0 2em 10em;
}

.content__counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  min-width: 300px;
  background-color: #f9f9f9;
  font-size: 1.5em;
  font-weight: 300;
  border: 4px solid #ca2e7f;
  color: #e269a6;
  padding: 1em 4em;
  margin: 1em auto;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.counter span {
  font-weight: 600;
  font-size: 2em;
}

.counter:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.card {
  margin: 1em;
  padding: 0;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content__testimonials--card {
  min-width: 250px;
  max-width: 450px;
  min-height: 650px;
  position: relative;
  margin: 1em auto;
}

.content__testimonials--card > img {
  min-width: 250px;
  max-width: 450px;
  height: 250px;
}

.card__title {
  font-weight: 400;
  font-size: 2em;
  margin: 16px 0 0 16px;
}

.card__subtitle {
  font-weight: 400;
  font-size: 1.3em;
  color: lightgray;
  margin: 0 0 0 16px;
}

.card__content {
  font-size: 1.2em;
  padding: 0 16px;
}

.card__question {
  font-weight: 600;
  font-size: 1.4em;
  color: #e269a6;
  position: relative;
  padding: 1em;
}

.footer {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 130px;
  padding: 10px;
}

.footer-block {
  font-size: 20px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 0;
}

.copyright {
  background: #fff;
  border-top: 1px solid #cacaca;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px;
  margin-top: 8em;
}

@media screen and (min-width: 1224px) and (-webkit-min-device-pixel-ratio: 2) {
  .content__counters {
    margin: 0;
  }
  .card {
    margin: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .copyright {
    margin-top: 20em;
  }
  .content__testimonials--card {
    margin: 1em 2em;
  }
  .content__counters {
    margin: 1em 2em;
  }
  .header__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
    border-radius: 0;
    margin-top: 1em;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__input {
    width: 100%;
  }
  .header__input::-webkit-input-placeholder {
    font-size: 1.1em;
  }
  .header__input:-ms-input-placeholder {
    font-size: 1.1em;
  }
  .header__input::-ms-input-placeholder {
    font-size: 1.1em;
  }
  .header__input::placeholder {
    font-size: 1.1em;
  }
  .arrow-left {
    display: none;
  }
  .header__text {
    margin: 1em 0 0 0;
    min-width: 100%;
  }
  .header__question-bar {
    height: 700px;
  }
  .header__image {
    display: none;
  }
  .content__title {
    margin-top: 7em;
  }
  .content__counters {
    margin: 1em auto;
  }
  .footer-block {
    margin: 1em auto;
  }
  .footer-block:first-child {
    margin-top: 4em;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .copyright {
    margin-top: 20em;
  }
  .content__testimonials--card {
    margin: 1em 2em;
  }
  .content__counters {
    margin: 1em 2em;
  }
  .header__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
    border-radius: 0;
    margin-top: 1em;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__input {
    width: 100%;
  }
  .header__input::-webkit-input-placeholder {
    font-size: 1.1em;
  }
  .header__input:-ms-input-placeholder {
    font-size: 1.1em;
  }
  .header__input::-ms-input-placeholder {
    font-size: 1.1em;
  }
  .header__input::placeholder {
    font-size: 1.1em;
  }
  .arrow-left {
    display: none;
  }
  .header__text {
    margin: 1em 0 0 0;
    min-width: 100%;
  }
  .header__question-bar {
    /*height: 700px; */
  }
  .image-small {
    display: none;
  }
  .input-small {
    width: 100%;
  }
  .header__image {
    display: none;
  }
  .content__title {
    margin-top: 7em;
  }
  .content__counters {
    margin: 1em auto;
  }
  .footer-block {
    margin: 1em auto;
  }
  .footer-block:first-child {
    margin-top: 4em;
  }
}

@media screen and (min-width: 321px) {
  .copyright {
    margin-top: 20em;
  }
  .arrow-box {
    width: 90vw;
  }
}

@media screen and (max-width: 320px) {
  .header__input::-webkit-input-placeholder {
    font-size: 0.7em;
  }
  .header__input:-ms-input-placeholder {
    font-size: 0.7em;
  }
  .header__input::-ms-input-placeholder {
    font-size: 0.7em;
  }
  .header__input::placeholder {
    font-size: 0.7em;
  }
  .arrow-box {
    width: unset;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .copyright {
    margin-top: 10em;
  }
  .header__input::-webkit-input-placeholder {
    font-size: 1em;
  }
  .header__input:-ms-input-placeholder {
    font-size: 1em;
  }
  .header__input::-ms-input-placeholder {
    font-size: 1em;
  }
  .header__input::placeholder {
    font-size: 1em;
  }
  .header__input {
    width: 70%;
  }
  .arrow-box {
    width: unset;
  }
}

@media screen and (min-width: 1024px) {
  .arrow-box {
    min-width: 1000px;
  }
}

/* Mark input boxes that gets an error on validation: */
.input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Mark the steps that are finished and valid: */
.active {
  color: #ca2e7f;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .header__item {
    margin-left: 40vw;
  }
}
/*# sourceMappingURL=style.css.map */